body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
}

.container {
    margin-top: 50px;
}

input {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005f73;
}

#weather-info {
    margin-top: 20px;
    font-size: 18px;
}

#weather-icon {
    margin-top: 20px;
    font-size: 50px;
}
